html,
body,
#app,
#app > div {
    height: 100%;
    background-color: #282c34;
}
.socialBadges {
    margin-top: 1%;
}
.calBadge {
    margin-right: 5%;
}
.App {
    background-color: #282c34;
}
#name {
    color: rgb(122, 255, 255);
}
#name:hover {
    animation: hoverColorChange 0.5s;
    animation-fill-mode: forwards;
}
@keyframes hoverColorChange {
    from {
        color: rgb(122, 255, 255);
    }
    to {
        color: rgb(0, 102, 255);
    }
}

.firstHeader {
    color: white;
}
.box {
    margin-left: 30%;
    margin-top: 15%;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
